*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}


nav{
    display: flex;
    width: 100%;
    justify-content: space-between   ;
    
}



#products{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: white;
    box-shadow:  5px 10px 18px #888888
    

}

.card{
    
    min-width: 10rem;
    max-width: 15rem;
    margin: 0.5rem;
    text-decoration: white;
    
    &-title{
        text-align: center;
        color:black;
        text-decoration: white;  
            
    }
    &-text{
        font-size: 0.9rem;
    }
    &-footer{
        background-color: white;
        border: none
    }
}

.card2{
    width:100%;
    margin:1rem;
    box-shadow:  5px 10px 18px #888888
}


#product{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    
    
}

.product-item-color{

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.navbar-brand{
    padding-left: .4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.cart{
    position: absolute;
    top: 1rem;
    right: 0.5rem;

}

#quantite {
    font-size: 0.6rem;
    position: absolute;
    top: 2.1rem;
    right: 1.3rem;
    padding: 2px 5px;
    background-color: lightsalmon;
    border-radius: 100%;
  }

 #cart-section-title{
     margin:  1rem 0.3rem;
     padding-left: 0.3rem;
     border: solid .1rem;
     border-radius: 0.3rem;
 }

.cart-section-wrapper{
    display:flex;
    margin: .3rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 0.05rem;


    &-image{
        box-shadow:  1px 1px 5px #888888
    }

    &-infos{
        margin-left: 0.5rem;
    }

    &-infos-counterAndModifier{
        display: flex;
        border: none;
        justify-content: flex-start;;

        &-remove button{
             padding-left: .6rem;
            border: none;
            background-color: white;

        }


        &-totalPrice{
            width: 3.2rem;
            text-align: center ;
            margin: auto;
        }

        &-modify{
            display:flex;
            width: 4rem;
            justify-content: space-between;
            border: solid .05rem ;

            &-removeOne{
                padding: 0 0.3rem;
                border: none;
                border-right: solid .05rem;
                background-color: darkgrey;
                
            }

            &-addOne {
                padding: 0 0.2rem;
                border: none;
                border-left: solid .05rem;
            }

            &-quantityValue{
                margin: 0;

            }
        }
    }
}

.totalCart{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    line-height: 30%;
    margin-top: 1rem;
}

.montantTaxe{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    line-height: 30%;
    font-size: smaller;
    color: darkgrey;
}






#PersonnalInformations{
    
    margin:0.3rem;
    margin-top: 2rem;
    border: solid .01rem lightgrey;
    border-radius: .5rem;
    padding: 0.3rem;
    
}

.titleForm{
    margin: 0.5rem 0;
    background-color: lightsalmon;
    padding-left: 0.5rem;
    color: black;
}

.champs{
    font-size: smaller;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
    line-height: 30%;
}

.backToShopping{
    display: flex;
    justify-content: left;
    margin: 0.5rem ;
}
.backToList{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
footer{
    
    display: flex;
    width: 100%;
    
    position: static;;
    left: 0;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-size: x-small;;
    background-color: black;
}

.foot {
    width: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.order{
    height: 100vh;
}
.orderContainer{
    margin-top: 2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 5rem;
    display: block;
    text-align: center;
    
}

.confirmName{
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 1.4rem;
}
.tanksMessage{
    line-height: 0.4rem;
    font-size: 1.4rem;
}
.Order{
    color: rgb(192, 79, 45);
    font-weight: bold;
}

